<div class="home-content" fxLayout="row" fxLayout.xs="column" fxFlexFill >
    <div fxFlex="80" class="" fxFlex.xs="80" fxFlexAlign="auto">
        <h1>Track your cargo.</h1>
        <p>Best way to ship your order to mars</p>
    </div>
    <div fxFlex="20" class="" fxFlex.xs="20" fxFlexAlign="auto">
        <!--        <button>Create new order</button>-->
        <button mat-raised-button color="primary" class="cus-primary-btn">Create new order</button>

<!--        <mat-form-field>-->
<!--            <mat-placeholder>Search reports</mat-placeholder>-->
<!--            <input matInput type="search">-->
<!--            <button mat-button matSuffix mat-stroked-button aria-label="search">-->
<!--                <mat-icon>search</mat-icon>-->
<!--            </button>-->
<!--        </mat-form-field>-->
    </div>
</div>
<div class="track-order-alert">
    <div><mat-icon> navigation</mat-icon></div>
    <div>Track Order: #5678GHJ&</div>
    <div><span>1</span></div>
</div>
<!--<mat-button-toggle-group name="favoriteColor" aria-label="Favorite Color" class="track-order-alert">-->
<!--    <mat-button-toggle value="red">Red</mat-button-toggle>-->
<!--    <mat-button-toggle value="green">Green</mat-button-toggle>-->
<!--    <mat-button-toggle value="blue">Blue</mat-button-toggle>-->
<!--</mat-button-toggle-group>-->
<!--<div style="position: absolute; bottom: 0; width: 100%; border-top-left-radius: 10px; border-top-right-radius: 10px; background-color: #197ccb">-->
<!--    <div fxLayout="row" style="padding: 15px">-->
<!--        <span fxFlexAlign="50">1234567</span>-->
<!--        <span fxFlexAlign="50">1</span>-->
<!--    </div>-->
<!--</div>-->
