<!--<div fxFill >-->
<!--    <div>1</div>-->
<!--    <div>2</div>-->
<!--    <div>3</div>-->
<!--</div>-->
<div fxLayout="column" fxLayoutGap="20px" style="height: 100vh;" class="home-layout">
    <div class="home-title">
        <h1 class="cus-h1">Track your cargo.</h1>
        <h3>Best way to ship your order to mars</h3>
    </div>
    <div fxLayout="row" fxLayoutGap="10px" class="scroll-cus scroll-cus-1">
        <div class="track-order-alert">
            <span class="notification-count">1</span>
            <span class="notification-title">
                <span>Track order</span>
<!--                <span>T</span>-->
<!--                <span>r</span>-->
<!--                <span>a</span>-->
<!--                <span>c</span>-->
<!--                <span>k</span>-->
<!--                <span></span>-->
<!--                <span>o</span>-->
<!--                <span>r</span>-->
<!--                <span>d</span>-->
<!--                <span>e</span>-->
<!--                <span>r</span>-->
            </span>
            <span><img src="/assets/icons/vuesax-bulk-direct-up.svg"></span>
        </div>
        <div class="" style="display: flex; justify-content: flex-end;">
            <span></span>
            <span style="margin-bottom: 10px"><img src="/assets/icons/vuesax-bulk-box-add.svg"></span>
            <span class=""><span>Send Cargo</span></span>
        </div>
        <div class="child-3"></div>
    </div>
    <div class="flex-container" fxLayout="row">
        <div class="" fxFlex="1 2 auto">Older order</div>
        <div class="" fxFlex="1 1 auto" style="text-align: right">View All</div>
    </div>
<!--    <div fxLayout="colum" fxLayoutGap="10px">-->
<!--        <div>1</div>-->
<!--        <div>2</div>-->
<!--    </div>-->
    <div fxLayout="row" fxLayoutGap="10px" class="scroll-cus">
        <div class="child-1">1</div>
        <div class="child-2">1</div>
    </div>
</div>
<!--<router-outlet></router-outlet>-->
